{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Rubik:wght@300&display=swap"
    rel="stylesheet">
  <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <title>Інтернет-магазин SMAD - магазин комплектуючих для пк, ігрової переферії і техніки</title>
  <link rel="shortcut icon" href="{% static 'main/img/SMAD logo web 2.png' %}" type="image/x-icon">
  <style>
      h2, h3 {
          text-align: left;
          margin-bottom: 20px;
      }

      div.center-list {
          text-align: left;
      }

      div.center-list > p {
          display: inline-block;
          text-align: left;
      }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><strong>SMAD</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Головна сторінка</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about_us' %}">Про нас</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" aria-current="page" href="#"><ion-icon name="person-circle-outline"></ion-icon></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Вийти з акаунта</a></li>
                    <li><a class="dropdown-item" href="#">Ласкаво просимо, {{ user.username }}</a></li>
               {% else %}
                    <li><a class="dropdown-item" href="{% url 'autoris' %}">Авторизація</a></li>
                    <li><a class="dropdown-item" href="{% url 'regist' %}">Реєстрація</a></li>
               {% endif %}
            </ul>
          </li>
          <li class="nav-item" id="cart">
            <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal"
              data-bs-target="#modal-cart"><ion-icon name="bag-outline"></ion-icon></a>
            <div class="modal fade" id="modal-cart" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header bg-secondary text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Ваші Товари</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <table class="table">

                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Продовжити покупки</button>
                    <button type="submit" class="btn btn-primary"><a href="{% url 'order_create' %}">Оформити замовлення</a></button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div class="center-list">
        <h2>Контакти</h2>
        <h3>Телефони:</h3>
        <p>(066) 604-13-70 <br>
           (095) 837-56-23</p>

        <h3>Call-центер працює:</h3>
        <p>Пн-Пт: 09:00-20:00 <br>
           Сб-Нд: 10:00-20:00</p>

        <h3>Сервіс-консультант працює:</h3>
        <p>Пн-Пт: 09:00-18:00</p>

        <h3>E-mail:</h3>
        <p>sales@smad.ua <br>
           service@smad.ua <br>
           corp@smad.ua
        </p>
    </div>

<footer>
    <section class="footer fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-6 contacts">
            <h4>Информація</h4>
            <ul class="list-unstyled">
              <li><a href="{% url 'home' %}">Головна сторінка</a></li>
              <li><a href="{% url 'about_us' %}">Про нас</a></li>
              <li><a href="{% url 'delivery' %}">Оплата та доставка</a></li>
              <li><a href="{% url 'contakt' %}">Контакти</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-6 contacts">
            <h4>Час роботи</h4>
            <ul class="list-unstyled">
              <li>г. Київ, вул. Хрещатик, 1</li>
              <li>Пн-Нд: 9:00 - 18:00</li>
              <li>без перерви</li>
            </ul>
          </div>

          <div class="col-md-3 col-6 contacts">
            <h4>Контакти</h4>
            <ul class="list-unstyled">
              <li><a href="tel:0666041370">066 604-13-70</a></li>
              <li><a href="tel:0958375623">095 837-56-23</a></li>
            </ul>
          </div>

          <div class="col-md-3 col-6 contacts">
            <h4>Соціальні мережі</h4>
            <div class="footer-icons">
              <a href="https://www.instagram.com/rostisslave/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
              <a href="https://t.me/Obliviann" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
              <a href="" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a>
            </div>
          </div>

        </div>
      </div>
    </section>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script src='{% static 'main/js/main.js' %}'></script>
</body>

</html>